.ul-wrapper {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.carousel {
  position: relative;
  white-space: nowrap;
  animation: carousel 30s linear infinite;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .carousel {
    animation: none;
  }
}
